[Unit]
Description=Project Odin Heimdall Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nabzaf
WorkingDirectory=/home/nabzaf/Heimdall/project_heimdall
ExecStart=/home/nabzaf/Heimdall/project_heimdall/.venv/bin/python /home/nabzaf/Heimdall/project_heimdall/heimdall.py
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
